---
layout: default
---

<div class="grid-container full">
  <div class="grid-y parent-grid-system">
    <!-- HEADER -->
    {% include header-subpage.html %}
    <div class="cell auto sections-and-sidebar-main_cell">
      <div class="grid-x align-center sections-and-sidebar-main_grid-x">
        <div class="cell small-11 medium-8 sections-content_cell"> <!-- default medium-8, settings in css -->
          <!-- CONTENT SECTION -->
          <div class="sections-content_grid-container">
            <div class="grid-y sections-content_grid-y style-galerie">
                <div class="grid-x grid-margin-x">
                  <div class="cell small-12 textbox-title">
                    <h4>Galerie</h4>
                  </div>
                  <figure class="cell small-12 figure-height">
                    <div class="figure-width">
                      <img src="img/berichtTagblatt.jpg" alt="berichtTagblatt">
                      <figcaption>
                        <div class="figure-overlay">
                          <h5>Eigenmann im Tagblatt</h5>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                  <figure class="cell small-12 figure-height">
                    <div class="figure-width">
                      <img src="img/nophoto.jpg" alt="kein Bild">
                      <figcaption>
                        <div class="figure-overlay">
                          <h5>Noch kein Bild vorhanden.</h5>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                  <figure class="cell small-12 figure-height">
                    <div class="figure-width">
                      <img src="img/nophoto.jpg" alt="kein Bild">
                      <figcaption>
                        <div class="figure-overlay">
                          <h5>Noch kein Bild vorhanden.</h5>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                  <figure class="cell small-12 figure-height">
                    <div class="figure-width">
                      <img src="img/nophoto.jpg" alt="kein Bild">
                      <figcaption>
                        <div class="figure-overlay">
                          <h5>Noch kein Bild vorhanden.</h5>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                </div>
            </div>
          </div>
          <!-- END CONTENT SECTION -->
        </div>
        <!-- SIDEBAR -->
        {% include sidebar.html %}
      </div>
    </div>
  </div>
</div>
