---
layout: default
---

<div class="grid-container full">
  <div class="grid-y parent-grid-system">
    <!-- HEADER -->
    {% include header-subpage.html %}
    <div class="cell auto sections-and-sidebar-main_cell">
      <div class="grid-x align-center sections-and-sidebar-main_grid-x">
        <div class="cell small-11 medium-8 sections-content_cell"> <!-- default medium-8, settings in css -->
          <!-- CONTENT SECTION -->
          <div class="sections-content_grid-container">
            <div class="grid-y sections-content_grid-y style-sub-page">
                <div class="grid-x grid-margin-x">
                  <div class="cell small-12 textbox-title">
                    <h4>Impressum</h4>
                  </div>
                  <div class="cell small-12 textbox-content">
                    <h4>Kontaktadresse</h4><p>T.Eigenmann<br>Augartenstrasse 12<br>9204 Andwil<br>Schweiz<br>e-mann@bluewin.ch</p>
                    <h4>Vertretungsberechtigte Personen</h4><p>Thomas Eigenmann, Betriebseigentümer</p>
                    <h4>Handelsregistereintrag</h4><p>Eingetragener Firmenname: T.Eigenmann<br>Nummer: CHE-107.615.829</p>
                    <h4>Mehrwertsteuernummer</h4><p>CHE-107.615.829</p>
                    <h4>Haftungsausschluss</h4><p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen. Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen. Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.</p>
                    <h4>Haftung für Links</h4><p>Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs Es wird jegliche Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des Nutzers oder der Nutzerin.</p><h4>Urheberrechte</h4><p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der Website gehören ausschliesslich der Firma T.Eigenmann oder den speziell genannten Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus einzuholen.</p>
                    <h4>Webseitenersteller</h4><p>Pascal Zwicker<br>pascal.zwicker@windowslive.com</p>
                  </div>
                </div>
            </div>
          </div>
          <!-- END CONTENT SECTION -->
        </div>
        <!-- SIDEBAR -->
        {% include sidebar.html %}
      </div>
    </div>
  </div>
</div>
