---
layout: default
---

<div class="grid-container full">
  <div class="grid-y parent-grid-system">
    <!-- HEADER -->
    {% include header.html %}
    <div class="cell auto sections-and-sidebar-main_cell">
      <div class="grid-x align-center sections-and-sidebar-main_grid-x">
        <div class="cell small-11 medium-8 sections-content_cell"> <!-- default medium-8, settings in css -->
          <!-- CONTENT SECTION -->
          <div class="sections-content_grid-container">
            <div class="grid-y sections-content_grid-y">
                <div class="grid-x grid-margin-x">
                  <figure class="cell small-12 medium-6 large-4 figure-height">
                    <div class="figure-width">
                      <img src="img/willkommen2.jpg" alt="willkommen">
                      <figcaption class="js-figcaption" id="fig-willkommen">
                        <div class="figure-overlay">
                          <h5>Willkommen</h5>
                        </div>
                        <div class="figure-void">
                        </div>
                        <div class="figure-textbox">
                          <div class="textbox">
                            <div class="positioned-textblock">
                              <p class="willkommen-title1">Willkommen auf </p>
                              <p class="willkommen-title2">e-mann.ch</p>
                              <p class="willkommen-title3">Wir beraten Sie persönlich und ausführlich in den Bereichen Sanitär und Spenglerei.</p>
                            </div>
                          </div>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                  <a class="anchor" id="neubau"></a>
                  <figure class="cell small-12 medium-6 large-4 figure-height">
                    <div class="figure-width small-12 medium-4">
                      <img src="img/neubau.jpg" alt="neubau">
                      <figcaption class="js-figcaption" id="fig-neubau">
                        <div class="figure-overlay">
                          <h5>Sanitäre Anlagen</h5>
                        </div>
                        <div class="figure-void">
                        </div>
                        <div class="figure-textbox">
                          <div class="textbox">
                            <div class="positioned-textblock">
                              <ul>
                                <li>Installation von Neuanlagen</li>
                                <li>Renovation und Erweiterung von bestehenden Anlagen</li>
                                <li>Reparatur und Entkalkung von Wasserleitungen</li>
                                <li>Vorwandsysteme</li>
                                <li>Individuelle Beratung und Planung</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                  <a class="anchor" id="umbau"></a>
                  <figure class="cell small-12 medium-6 large-4 figure-height">
                    <div class="figure-width small-12 medium-4">
                      <img src="img/willkommen.jpg" alt="willkommen">
                      <figcaption class="js-figcaption" id="fig-umbau">
                        <div class="figure-overlay">
                          <h5>Spenglerei</h5>
                        </div>
                        <div class="figure-void">
                        </div>
                        <div class="figure-textbox">
                          <div class="textbox">
                            <div class="positioned-textblock">
                              <ul>
                                <li>Bleche für Steil und Flachdächer</li>
                                <li>Metallbedachungen</li>
                                <li>Dachkontrollen / Rinnenreinigung</li>
                                <li>Abdichtungen mit Flüssigkunststoff</li>
                                <li>Kamineinfassungen</li>
                                <li>Regenwassernutzung</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                  <a class="anchor" id="service"></a>
                  <figure class="cell small-12 medium-6 large-4 figure-height">
                    <div class="figure-width small-12 medium-4">
                      <img src="img/service2.jpg" alt="service">
                      <figcaption class="js-figcaption" id="fig-service">
                        <div class="figure-overlay">
                          <h5>Service</h5>
                        </div>
                        <div class="figure-void">
                        </div>
                        <div class="figure-textbox">
                          <div class="textbox">
                            <div class="positioned-textblock">
                              <ul>
                                <li>Prompter Reparaturservice</li>
                                <li>Ablaufreinigung</li>
                                <li>Boilerentkalkung</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                  <a class="anchor" id="wasserenthärtung"></a>
                  <figure class="cell small-12 medium-6 large-4 figure-height">
                    <div class="figure-width small-12 medium-4">
                      <img src="img/wasserenthärtung.jpg" alt="wasserenthärtung">
                      <figcaption class="js-figcaption" id="fig-wasserenthärtung">
                        <div class="figure-overlay">
                          <h5>Wasserenthärtung</h5>
                        </div>
                        <div class="figure-void">
                        </div>
                        <div class="figure-textbox">
                          <div class="textbox">
                            <div class="positioned-textblock">
                              <p>Schützen Sie wertvolle Installationen und Haushaltsapperate mit einem Wasserenthärter. In:</p>
                              <ul>
                                <li>Kalt- und Warmwassersystemen</li>
                                <li>Boilern</li>
                                <li>Duschwänden</li>
                                <li>Whirlpool</li>
                                <li>Waschmaschinen</li>
                                <li>Geschirrspüler</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                  <a class="anchor" id="blitzschutz"></a>
                  <figure class="cell small-12 medium-6 large-4 figure-height">
                    <div class="figure-width small-12 medium-4">
                      <img src="img/blitzschutz.jpg" alt="blitzschutz">
                      <figcaption class="js-figcaption" id="fig-blitzschutz">
                        <div class="figure-overlay">
                          <h5>Blitzschutz</h5>
                        </div>
                        <div class="figure-void">
                        </div>
                        <div class="figure-textbox">
                          <div class="textbox">
                            <div class="positioned-textblock">
                              <p>Ist Ihr Haus vor Blitzeinschlägen geschützt?</p>
                              <ul>
                                <li>Beratung + Ausführung</li>
                                <li>Unterstützung beim Gesuch von Förderbeiträgen</li>
                                <li>Installation</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                  <a class="anchor" id="ausbildung"></a>
                  <figure class="cell small-12 medium-6 large-4 figure-height">
                    <div class="figure-width small-12 medium-4">
                      <img src="img/lehrausbildung.jpg" alt="lehrausbildung">
                      <figcaption class="js-figcaption" id="fig-ausbildung">
                        <div class="figure-overlay">
                          <h5>Ausbildung</h5>
                        </div>
                        <div class="figure-void">
                        </div>
                        <div class="figure-textbox">
                          <div class="textbox">
                            <div class="positioned-textblock">
                              <p>Wir bilden Lehrlinge aus:</p>
                              <ul>
                                <li>Spengler EFZ</li>
                                <li>Sanitär Installateur EFZ</li>
                              </ul>
                              <a class="logo-ausbildung" href="https://toplehrstellen.ch/gebaeudetechniker-berufe">
                                <img src="img/gebäudetechniker.png" alt="Wir, die Gebäudetechniker.">
                              </a>
                            </div>
                          </div>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                  <a class="anchor" id="galerie"></a>
                  <figure class="cell small-12 medium-6 large-4 figure-height">
                    <div class="figure-width small-12 medium-4">
                      <img src="img/galerie2.jpg" alt="galerie">
                      <figcaption class="js-figcaption" id="fig-galerie">
                        <div class="figure-overlay">
                          <h5>Galerie</h5>
                        </div>
                        <div class="figure-void">
                        </div>
                        <div class="figure-textbox">
                          <div class="textbox">
                            <a href="galerie">
                              <div class="positioned-textblock">
                                <p>Weiter zur <span>Galerie</span>.</p>
                              </div>
                            </a>
                          </div>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                  <a class="anchor" id="kontakt"></a>
                  <figure class="cell small-12 medium-6 large-4 figure-height">
                    <div class="figure-width small-12 medium-4">
                      <img src="img/kontakt.jpg" alt="kontakt">
                      <figcaption class="js-figcaption" id="fig-kontakt">
                        <div class="figure-overlay">
                          <h5>Kontakt</h5>
                        </div>
                        <div class="figure-void">
                        </div>
                        <div class="figure-textbox">
                            <div class="textbox">
                              <a href="kontaktformular">
                              <div class="positioned-textblock">
                                <p>Weiter zum <span>Kontaktformular</span>.</p>
                              </div>
                            </a>
                            </div>
                        </div>
                      </figcaption>
                    </div>
                  </figure>
                </div>
            </div>
          </div>
          <!-- END CONTENT SECTION -->
        </div>
        <!-- SIDEBAR -->
        {% include sidebar.html %}
      </div>
    </div>
  </div>
</div>
