
{% comment %}
  {% include header-subpage.html %}
{% endcomment %}

<header class="cell header">
  <div class="grid-x header_grid-x">
    <div class="cell small-3 mobile-menu" id="mobile-menu">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="cell small-11 small-order-2 medium-order-1 medium-4 large-4 title_cell">
      <!-- Exeption: media query min-width 86rem is large-3 -->
      <div id="link-willkommen" class="title_div">
        <h5>Solides Handwerk - Moderne Technik</h5>
        <h1>Sanitär & Spenglerei</h1>
      </div>
    </div>
    <nav class="cell small-12 small-order-3 medium-order-3 medium-8 navbar" id="navbar">
      <div class="navbar-close">
        <i class="fa fa-times" id="close"></i>
      </div>
      <div class="navbar-center">
        <ul>
          <a href="./"><li>Zurück</li></a>
        </ul>
      </div>
    </nav>
    <div class="cell small-8 small-order-1 medium-order-2 medium-4 logo_cell">
      <div class="logo_div">
        <img src="img/logo.png" alt="logo">
      </div>
    </div>
  </div>
</header>
