{% comment %}
  {% include sidebar.html %}
{% endcomment %}


<div class="cell small-12 align-self-stretch sidebar">
  <div class="grid-x">
    <hr class="cell small-11 medium-8">
    <div class="cell small-9 medium-7 description">
      <p>Wir machen alles von A-Z: Planung, Beratung,
        Ausführung sämtlicher sanitärer Anlagen wie
        auch einen erstklassigen Reparatur-Service.
      </p>
      <p class="tags">Service, Umbauten, Neubauten, Renovationen, Beratung, Wasserenthärtung,
        Entkalkungsanlagen, Bauspenglerei, Blitzschutzanlagen
      </p>
    </div>
    <hr class="cell small-11 medium-8">
    <div class="cell small-11 medium-8 associate">
      <img src="img/sanitas_trösch.png" alt="sanitas_trösch">
      <img src="img/richner_ag.gif" alt="richner_ag">
      <img src="img/laufen.png" alt="laufen">
      <img src="img/AFS.png" alt="afs">
      <img src="img/geb_diener.png" alt="geb_diener">
    </div>
    <div class="cell medium-12 void"></div>
    <div class="cell small-10 medium-8 info">
      <ul>
        <li>Thomas Eigenmann</li>
        <li>Augartenstrasse 12</li>
        <li>9204 Andwil</li>
        <li>Tel. 071 385 95 94</li>
        <li>Mobile 079 633 43 10</li>
        <li>e-mann@bluewin.ch</li>
      </ul>
    </div>
    <div class="cell small-10 medium-8 map_div">
      <div id="map"></div>
    </div>
    <div class="cell small-10 medium-8 impressum">
      <a href="impressum">Impressum</a><span> | T.Eigenmann GmbH | 2018</span>
    </div>
  </div>
</div>
